<style>
    .brand{
        margin-left: 10px;
    }

</style>

<nav>
    <div class="nav-wrapper  teal darken-4">
        <a href="#" class="brand-logo hide-on-med-and-up">TripGH</a>
        <a href="#" class="brand-logo hide-on-small-only brand">TripGH</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Login</a></li>
            <li><a href="#">Routes</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <ul class="side-nav">
            <li><a href="#">Login</a></li>
            <li><a href="#">Routes</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
</nav>





<!--<div class="container">
    <h1>My Task List</h1>
    <hr>
    <tasks></tasks>
</div>-->